.main {
    text-align: center;
    margin: auto;
}

.load-image-btn {
    margin: auto;
    padding: 20px;
    /* cursor: pointer; */
    width: 25%;
    background-color: rgb(132, 204, 135);
    border: 1px solid rgb(101, 160, 103);
    border-radius: 10px 10px 10px 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
